{% extends 'base.html' %}

{% block content %}
  <h2>Shipment List</h2>

  <ul class="list-group">
    {% for shipment in shipments %}
      <li class="list-group-item">
          <a href="{% url 'shipment-update' shipment.tracking_number %}" class="list-group-item-action" >{{ shipment.tracking_number}}. {{ shipment.origin }} -> {{ shipment.destination }}</a>
            {% if shipment.status == 'Received' %}
                <span class="badge bg-success">
            {% elif shipment.status == "In container"%}
                <span class="badge bg-warning">
            {% elif shipment.status == "Rejected"%}
                <span class="badge bg-danger">
            {% else %}
                <span class="badge bg-primary">
            {% endif %}{{ shipment.status }}</span>
      </li>
    {% empty %}
      <li class="list-group-item">No shipments available.</li>
    {% endfor %}
  </ul>

{% endblock %}
