{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>{% if request.resolver_match.url_name == 'shipment-create' %}Create{% else %}Update{% endif %} Shipment</h2>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
  </form>

{% endblock %}
